@import '../../assets/_variables.scss';

* {
    box-sizing: border-box;
}

:host {
    display: block;
    margin-top: 10px;
    padding: 0;
}

.content {
    border-radius: 5px;
    border: 1px solid var(--border-color, $border-color);

    table {
        border-collapse: collapse;
        width: 100%;
        margin: 0;

        tr {
            border-bottom: 1px solid var(--border-color, $border-color);

            &:nth-child(even){background-color: var(--input-background-2, $input-background-2);}

            &:hover,
            .selected:nth-child(even):hover
            {
                background-color: var(--primary-color-hover, $primary-color-hover);
                color: var(--primary-bg-font-color-hover, $primary-bg-font-color-hover);
                cursor: pointer;
            }

            td, th {
                position: relative;
                border-left: 1px solid var(--border-color, $border-color);
                border-right: 1px solid var(--border-color, $border-color);
                padding: 8px;
            }

            th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: var(--primary-color, $primary-color);
                color: var(--primary-bg-font-color, $primary-bg-font-color);
                text-transform: capitalize;

                span {
                    position: absolute;
                }
            }

            //td {
            //    &:first-of-type {
            //        width: 25px;
            //    }
            //}
        }
    }
}



/*
.selected {
    background-color: var(--primary-color-selected, $primary-color-selected);
}

.selected:nth-child(even){background-color: var(--primary-color-selected-alt, $primary-color-selected-alt);}
*/

table tr:hover,
.selected:nth-child(even):hover
{
  background-color: var(--primary-color-hover, $primary-color-hover);
  color: var(--primary-bg-font-color-hover, $primary-bg-font-color-hover);
  cursor: pointer;
}