label {
	display: inline;
}

input {
	display: none;
}

input + label {
	background-color: var(--input-background, white);
	border: var(--border-medium-style, 1px solid) var(--border-medium-color, #757575);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

input:checked + label:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: var(--primary-color, green);;
}

label:last-of-type {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    color: var(--text-color, black);
    vertical-align: top;
    top: 2px;
}