@import '../../assets/_variables.scss';

:host {
    display: block;
    margin-bottom: 5px;
    color: var(--primary-font-color $primary-font-color);
    user-select: none;
}

.caption {
    display: block;
    color: var(--primary-color, $primary-color);
}

.dateContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;

    margin: 0 1px;
    border: var(--border, $border);
    border-radius: var(--border-radius-medium, $border-radius-medium);

    font: inherit;
    font-size: 1.2rem;
    color: var(--primary-font-color $primary-font-color);
    background-color: var(--input-background, $input-background);

    height: 2.5rem;

    &:focus {
        outline: none;
        margin: 0;
        border: var(--border-active, $border-active);
    
        height: calc(2.5rem - 2px);
    }
}

.valueLabel {
    display: inline-block;
    flex: 1 1;
    padding-left: 5px;
}

.dropdown {   
   display: flex;
   justify-content: center;
   align-items: center;
   flex-basis: 2.3rem;
   align-self: stretch;

   border-left: var(--border, $border);
   border-top-right-radius: var(--border-radius-small, $border-radius-small);
   border-bottom-right-radius: var(--border-radius-small, $border-radius-small);
   font-size: .8rem;
   
   color: var(--primary-bg-font-color, $primary-bg-font-color);
   background-color: var(--primary-color, $primary-color);

   cursor: pointer;

   top: 0;
   right: 0;
}

.popup {
    position: absolute;

    text-align: center;
    background-color: transparent;

    width: 100%;
    top: 2.5rem;
   
    z-index: 9999999;

    table {
        border: var(--border-in-active, $border-in-active);
        padding: 5px;
        border-radius: var(--border-radius-large, $border-radius-large);

        background-color: var(--input-background-3, $input-background-3);
        box-shadow: var(--shadow-medium, $shadow-medium);
        width: 20rem;
        height: 15rem;

        td {
            border-radius: 100%;
            width: 2rem;
            cursor: pointer;
        }
    }
}

.header {
    position: relative;
}

.clear-label,
.today-label {
    padding: 0 1rem;
    font-weight: 600;
    color: var(--primary-color, $primary-color);

    &:hover {
        color: var(--primary-color-hover, $primary-color-hover);
    }
}

.left-arrow,
.right-arrow {
    position: absolute;
    width: 1.2rem;
}

.left-arrow {
    left: 0;
}

.right-arrow {
    right: 0;
}

.month {
    margin: 3px;
    font-weight: 800;
}

input {
    padding: .6rem .4rem .6rem .4rem;
    border: var(--border $border);
    border-radius: var(--border-radius-large, $border-radius-large);
    color: var(--text-color, black);
    background-color: var(--input-background-3, $input-background-3);

    &:focus {
        outline: none;
        margin: 3px 0;
        border: var(--border-active, $border-active);
    }
}

.set-year {
    font-weight: 600;
    color: var(--primary-color, $primary-color);
}

.disable {
    color: var(--primary-disabled-color, $primary-disabled-color);
}

.today {
    color: var(--primary-font-disabled-color, $primary-font-disabled-color);
    background-color: var(--primary-disabled-color, $primary-disabled-color);
}

.selected {
    color: var(--primary-bg-font-color, $primary-bg-font-color);
    background-color: var(--primary-color, $primary-color);
}

.hidden {
    display: none;
}