:host {
    display: block;
    margin-bottom: 5px;
    color: var(--text-color, black);
    user-select: none;
}

.header {
    position: relative;
    text-align: center;
}

.left-arrow {
    position: absolute;
    left: 5px;
}

.right-arrow {
    position: absolute;
    right: 5px;
}

.month {
    margin: 3px;
    font-weight: 800;
}

.popup table {
    border: var(--border-heavy-style, 2px solid) var(--border-medium-color, #757575);
    padding: 5px;
    border-radius: 15px;

    background-color: var(--border-light-color, #ccc);
}

td {
    text-align: center;
    border-radius: 100%;
    width: 2rem;
    cursor: pointer;
}

.disable {
    color: var(--border-medium-color, #757575);
}

.today {
    color: var(--text-alt-color, white);
    background-color: var(--input-alt-background, #757575);
}

.selected {
    color: var(--primary-font-color, white);
    background-color: var(--primary-color, green);
}