:host {
    display: block;
    margin-bottom: 5px;
    color: var(--text-color, black);
    user-select: none;
}

.caption {
    display: block;
    color: var(--primary-color, green);
}

.dateContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;

    margin: 0 1px;
    border: var(--border-medium-style, 1px solid) var(--border-medium-color, #757575);
    border-radius: var(--border-radius-input, 10px);

    font: inherit;
    font-size: 1.2rem;
    color: var(--text-color, black);
    background-color: var(--input-background, white);

    height: 2.5rem;

    &:focus {
        outline: none;
        margin: 0;
        border: var(--border-heavy-style, 2px solid) var(--primary-color, green);
    
        height: calc(2.5rem - 2px);
    }
}

.dateLabel {
    display: inline-block;
    flex: 1 1;
    padding-left: 5px;
}

.calendar {   
   display: flex;
   justify-content: center;
   align-items: center;
   flex-basis: 2.3rem;
   align-self: stretch;

   border-left: var(--border-medium-style, 1px solid) var(--border-medium-color, #757575);
   border-top-right-radius: var(--border-radius-button, 5px);
   border-bottom-right-radius: var(--border-radius-button, 5px);
   font-size: .8rem;
   
   color: var(--primary-font-color, white);
   background-color: var(--primary-color, green);

   cursor: pointer;

   top: 0;
   right: 0;
}

.popup {
    position: absolute;

    text-align: center;
    background-color: transparent;

    width: 100%;
    top: 2.5rem;
   
    z-index: 9999999;

    table {
        border: var(--border-heavy-style, 2px solid) var(--border-medium-color, #757575);
        padding: 5px;
        border-radius: var(--border-radius-big, 15px);

        background-color: var(--border-light-color, #ccc);
        box-shadow: 4px 4px 4px rgba($color: #000000, $alpha: 0.4);
        width: 20rem;
        height: 15rem;

        td {
            border-radius: 100%;
            width: 2rem;
            cursor: pointer;
        }
    }
}

.header {
    position: relative;
}

.clear-label,
.today-label {
    padding: 0 1rem;
    font-weight: 600;
    color: var(--primary-color, green);

    &:hover {
        color: var(--primary-light-color, lime);
    }
}

.left-arrow,
.right-arrow {
    position: absolute;
    width: 1.2rem;
}

.left-arrow {
    left: 0;
}

.right-arrow {
    right: 0;
}

.month {
    margin: 3px;
    font-weight: 800;
}

input {
    padding: .6rem .4rem .6rem .4rem;
    border: var(--border-heavy-style, 1px solid) var(--border-medium-color, #757575);
    border-radius: var(--border-radius-big, 15px);
    background-color: var(--border-light-color, #ccc);

    &:focus {
        outline: none;
        margin: 3px 0;
        border: var(--border-heavy-style, 2px solid) var(--primary-color, green);
    }
}

.set-year {
    font-weight: 600;
    color: var(--primary-color, green);
}

.disable {
    color: var(--border-medium-color, #757575);
}

.today {
    color: var(--text-alt-color, white);
    background-color: var(--input-alt-background, #757575);
}

.selected {
    color: var(--primary-font-color, white);
    background-color: var(--primary-color, green);
}

.hidden {
    display: none;
}