@import '../../assets/_variables.scss';

:host {
    position: relative;
    display: block;
}

.container {
    position: relative;
    display: block;
}

.container:focus {
    outline: none;
}

.container:focus input {
    outline: none;
    margin: 0;
    border: var(--border-active, $border-active);
    border-right: none;
}

input {
    display: block;
    padding: .6rem .4rem .6rem .4rem;
    margin: 1px;
    border: var(--border, $border);
    border-right: none;
    border-top-left-radius: var(--border-radius-medium, $border-radius-medium);
    border-bottom-left-radius: var(--border-radius-medium, $border-radius-medium);
    border-bottom-right-radius: 0;
    
    flex-basis: calc(100% - 55px);

    font: inherit;
    font-size: 1.2rem;
    color: var(--primary-font-color, $primary-font-color);
    background-color: var(--input-background, $input-background);

    &:focus {
        outline: none;
        margin: 0;
        border: var(--border-active, $border-active);
        border-right: none;
        border-bottom-left-radius: 0;
    }

    &[error="true"]{
        margin: 4px 0;
        border: 2px solid var(--error-border-color, $error-border-color);

        background-color: var(--error-light-color, $error-light-color);
    }
}

label {
    font: inherit;
    font-size: 1rem;
    color: var(--primary-color, $primary-color);
}

.combo {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    margin: 5px 1px;
}

.combo:focus {
    outline: none;
}

.combo:focus input {
    outline: none;
    margin: 0;
    border: $border-active;
    border-right: none;
    border-bottom-left-radius: 0;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 37px;

    border: var(--border, $border);
    border-top-right-radius: var(--border-radius-medium, $border-radius-medium);
    border-bottom-right-radius: var(--border-radius-medium, $border-radius-medium);

    font-size: .8rem;
    
    color: var(--primary-bg-font-color, $primary-bg-font-color);
    background-color: var(--primary-color, $primary-color);

    cursor: pointer;

    &:hover {
        color: var(--primary-bg-font-color-hover, $primary-bg-font-color-hover);
        background-color: var(--primary-color-hover, $primary-color-hover);
   }
}

.items-container {
    justify-self: start;
    flex-grow: 1;
    min-width: 100%;
}

ul {
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom-left-radius: var(--border-radius-medium, $border-radius-medium);
    border-bottom-right-radius: var(--border-radius-medium, $border-radius-medium);

    color: var(--primary-font-color, $primary-font-color);
    border-color: var(--primary-color, $primary-color);
    background-color: var(--input-background, $input-background);

    width: calc(100% - 48px);
    max-height: 0;
    height: 0;
    overflow-y: auto;
    
    transition: max-height .4s ease-in-out;
    z-index: 999;
}

li.hide  {
   display: none;
}

.no-items ul {
    max-height: 0!important;
    height: 0!important;
    border: none!important;
}

.no-items input {
    border-bottom-left-radius: var(--border-radius-medium, $border-radius-medium);
}

.combo:focus  ul,
.combo:focus-within ul {
    max-height: 7.4rem;
    height: auto;
    border: var(--border-heavy-style, 2px solid) var(--primary-color, $primary-color);
    border-top: var(--border, $border);
    transition: max-height .4s ease-in-out;
}

li {
    padding: 4px 10px;
    border-top: var(--border, $border);
    border-top-color: transparent;
}

li:hover {
    background-color: var(--input-background-2, $input-background-2);
    border-color: var(--border-color, $border-color);
}