@import '../../assets/_variables.scss';

:host {
    position: relative;
    display: block;
}

.container {
    position: relative;
    display: block;
}

.container:focus {
    outline: none;
}

.container:focus input {
    outline: none;
    margin: 0;
    border: var(--border-active, $border-active);
    border-right: none;
}

input {
    display: block;

    padding: .6rem .4rem .6rem .4rem;
    margin: 1px;
    border: var(--border, $border);
    border-right: none;
    border-top-left-radius: var(--border-radius-medium, $border-radius-medium);
    border-bottom-left-radius: var(--border-radius-medium, $border-radius-medium);

    font: inherit;
    font-size: 1.2rem;
    color: var(--primary-font-color, $primary-font-color);
    background-color: var(--input-background, $input-background);

    width: 100%;

    &:focus {
        outline: none;
        margin: 0;
        border: var(--border-active, $border-active);
        border-right: none;
    }

    &[error="true"]{
        margin: 4px 0;
        border: 2px solid var(--error-border-color, $error-border-color);

        background-color: var(--error-light-color, $error-light-color);
    }
}

label {
    font: inherit;
    font-size: 1rem;
    color: var(--primary-color, $primary-color);
}

.combo {
    position: relative;
    display: flex;
    align-items: stretch;
    margin: 5px 1px;
}

.combo:focus {
    outline: none;
}

.combo:focus input {
    outline: none;
    margin: 0;
    border: $border-active;
    border-right: none;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 2.5rem;

    border: var(--border, $border);
    border-top-right-radius: var(--border-radius-medium, $border-radius-medium);
    border-bottom-right-radius: var(--border-radius-medium, $border-radius-medium);

    font-size: .8rem;
    
    color: var(--primary-bg-font-color, $primary-bg-font-color);
    background-color: var(--primary-color, $primary-color);

    cursor: pointer;

    &:hover {
        color: var(--primary-bg-font-color-hover, $primary-bg-font-color-hover);
        background-color: var(--primary-color-hover, $primary-color-hover);
   }
}

ul {
    position: absolute;    
    display: none;
    list-style: none;
    padding: 0;
    padding-bottom: 5px;
    margin: 0;
    left:0;
    color: var(--primary-font-color, $primary-font-color);
    border-color: var(--primary-color, $primary-color);
    background-color: var(--input-background, $input-background);
    max-height: 0;
    height: 0;
    width: calc(100% - 2.5rem - 3px);
    overflow-y: auto;    
    transition: max-height, height .4s ease-in-out;    
}

.no-items ul {
    max-height: 0!important;
    height: 0!important;
    border: none!important;
}


.is-down {
    .combo:focus,
    .combo:focus-within {
        ul {
            border-bottom-left-radius: var(--border-radius-medium, $border-radius-medium);
            border-bottom-right-radius: var(--border-radius-medium, $border-radius-medium);
        }

        input {
            border-bottom-left-radius: 0;
        }
    }
}

.is-up {
    .combo:focus,
    .combo:focus-within {
        ul {
            border-top-left-radius: var(--border-radius-medium, $border-radius-medium);
            border-top-right-radius: var(--border-radius-medium, $border-radius-medium);
        }

        input {
            border-top-left-radius: 0;
        }
    }
}

.combo:focus  ul,
.combo:focus-within ul {
    display: block;
    max-height: 100px;
    height: auto;
    border: var(--border-heavy-style, 2px solid) var(--primary-color, $primary-color);
    border-top: var(--border, $border);
    transition: max-height .4s ease-in-out;
}

li {
    padding: 4px 10px;
    border-top: var(--border, $border);
    border-top-color: transparent;
}

li:hover {
    background-color: var(--input-background-2, $input-background-2);
    border-color: var(--border-color, $border-color);
}