@import '../../assets/_variables.scss';

button {
    cursor: pointer;
    color: var(--primary-bg-font-color, $primary-bg-font-color);
    background-color: var(--primary-color, $primary-color);
    
    border: var(--border, $border);
    border-radius: var(--border-radius-button, 5px);
    
    padding: .4rem;
    margin: 0 .1rem;

    font: inherit;
    font-size: 1.3rem;

    min-width: 9rem;

    &:hover {
        color: var(--primary-bg-font-color-hover, $primary-bg-font-color-hover);
        background-color: var(--primary-color-hover, $primary-color-hover);
        box-shadow: var(--shadow-medium, 3px 4px 4px rgba(0, 0, 0, .5));
    }

    &:active:hover{
        box-shadow: var(--shadow-light, 3px 2px 2px rgba(0, 0, 0, .5));
    }

    &:focus {
        outline: none;
        box-shadow: var(--shadow-medium, 3px 4px 4px rgba(0, 0, 0, .5));
    }
}