$primary-color: blue;
$primary-bg-font-color: yellow;
$primary-font-color: indigo;

$primary-color-hover: lighten($primary-color, 20%);
$primary-bg-font-color-hover: darken($primary-bg-font-color, 80%);

$margin: 5px;
$margin--active: 5px;

$border: 10px solid green;
$border-active: 2px solid var(--primary-color);
$border-component: 2px solid #757575;

$border-radius-small: 25px;
$border-radius-medium: 35px;

$shadow-light: 3px 2px 2px rgba(0, 0, 255, .5);
$shadow-medium: 3px 4px 4px rgba(255, 0, 0, .5);
$backdrop: rgba(0, 0, 0, .5);


$error-color: red;
$error-border-color: red;
$error-light-color: lightpink;