body {
    color: var(--primary-font-color, black);
    background-color: var(--background, white);
}

#theme {
    position: absolute;
    right: 10px;
}

h4 {
    display: inline-block;
    color: var(--primary-color);
}

button {
    color: var(--primary-color);
    border:0;
    background-color: transparent;
    cursor: pointer;
}

button:focus {
    outline: none;
}

polaris-workflow {
    display: block;
    box-sizing: border-box;
    margin: auto;
    padding: 10px;
    
    max-width: 600px;
}