:root {
    --text-color: black;
    --input-background: white;

    --border-medium-style: 1px solid;
    --border-medium-color: #757575;

    --border-heavy-style: 2px solid;

    --border-radius-button: 5px;
    --border-radius-input: 10px;

    --primary-color: green;
    --primary-font-color: white;

    --primary-light-color: lime;
    --primary-light-font-color: black;

    --error-color: red;
    --error-light-color: lightpink;

    --shadow-light: 3px 2px 2px rgba(0, 0, 0, .5);
    --shadow-medium: 3px 4px 4px rgba(0, 0, 0, .5);
  }

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin:0px;
}