@import '../../assets/_variables.scss';

input {
	display: none;
}

input + label {
	-webkit-appearance: none;
	border: var(--border, $border);
	padding: 9px;
	border-radius: 50px;
	background: var(--input-background, $input-background);
	display: inline-block;
	position: relative;
}

input:checked + label:after {
	content: ' ';
	width: 12px;
	height: 12px;
	border-radius: 50px;
	position: absolute;
	top: 3px;
	background: var(--primary-color, $primary-color);
	text-shadow: 0px;
	left: 3px;
	font-size: 32px;
}

.label {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    color: var(--primary-font-color, $primary-font-color);
    vertical-align: top;
    top: 2px;
}